* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-image: url(../assets/fondo.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

p {
  color: white;
}

h2 {
  text-align: center;
  color: white;
}

h3 {
  color: rgb(127, 240, 170);
}

h1 {
  text-align: center;
  font-family: "Protest Guerrilla", sans-serif;
  color: white;
  margin-top: 100px;
  margin-bottom: 30px;
}

.logo {
  width: 70px !important;
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8));
}

.menu {
  display: none;
}

.nav {
  z-index: 1000;
  background-image: linear-gradient(to bottom, black, rgb(38, 39, 38));
  width: 100%;
  height: auto;
  position: fixed;
  border-bottom: green solid;
  display: flex;
  top: 0;
  align-items: center;
  justify-content: center;
}
.nav ul {
  list-style: none;
  display: flex;
  padding: 20px;
  margin: 0 100px;
}
.nav ul li {
  margin: 0 25px;
}
.nav ul li a {
  text-decoration: none;
  color: rgb(3, 146, 22);
  transition: 0.3s;
}
.nav ul li a:hover {
  font-size: 20px;
  color: rgb(0, 255, 34);
  margin: 25px;
  text-shadow: 0 0 10px #ffffff;
}

.navbar-toggler {
  border: none;
}
.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  border-top: 2px solid rgba(255, 255, 255, 0.1);
}

.parrafo-footer {
  height: 40px;
  display: flex;
  align-items: flex-end;
}

.redes {
  margin-left: 20px;
  display: flex;
  align-items: center;
}
.redes a {
  margin-left: 20px;
}

.seccion1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.seccion1 .noticias {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  max-width: 50vw;
  padding: 10px;
}

.seccion2 {
  margin: 40px;
}

.seccion3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 250px 300px;
  margin: 40px;
  gap: 10px;
  grid-template-areas: "grid-item4 grid-item1 grid-item1 grid-item1 grid-item3" "grid-item4 grid-item2 grid-item2 grid-item2 grid-item3";
}
.seccion3 .grid-item1 {
  background-color: rgba(255, 255, 255, 0.1);
  grid-area: grid-item1;
}
.seccion3 .grid-item1 .pseccion3 {
  padding: 10px;
  text-align: center;
  font-size: 1.5vw;
}
.seccion3 .grid-item2 {
  background-color: rgba(204, 12, 12, 0.1);
  grid-area: grid-item2;
}
.seccion3 .grid-item2 .pseccion3 {
  padding: 10px;
  text-align: center;
  font-size: 1.5vw;
}
.seccion3 .grid-item3 {
  grid-area: grid-item3;
  display: flex;
}
.seccion3 .grid-item4 {
  grid-area: grid-item4;
  display: flex;
  justify-content: flex-end;
}

.form-soporte {
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
  color: white;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 30px;
}
.form-soporte .form-casillero {
  width: 50%;
  border-radius: 5px;
  transition: 1s;
}
.form-soporte .form-casillero:focus {
  width: 80%;
  background-color: rgb(208, 247, 234);
}
.form-soporte .form-casillero-text {
  width: 50%;
  border-radius: 5px;
  transition: 1s;
}
.form-soporte .form-casillero-text:focus {
  width: 80%;
  height: 80px;
  background-color: rgb(208, 247, 234);
}
.form-soporte .form-casillero-select {
  width: 50%;
}

.enviar-modif {
  background-color: #2f6416;
  color: #ffffff;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  transition: 0.5s;
}

.enviar-modif:hover {
  background-color: #67dd31;
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8));
}

.rank {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
}
.rank tr th {
  text-transform: uppercase;
  border: 4px ridge #000;
  padding: 30px;
}
.rank tr td {
  border: 4px ridge #000;
  padding: 30px;
}

.imagenes {
  margin: 50px 20% 50px 20%;
}

.iframes {
  margin: 50px 20% 50px 20%;
  height: 400px;
}

@media (max-width: 953px) {
  .menu {
    display: flex;
    margin-right: 30px;
  }
  .nav {
    justify-content: space-between;
  }
  .nav ul {
    display: none;
  }
  .navbar ul {
    display: block;
  }
  .logo {
    margin-left: 10px;
  }
  .seccion1 {
    flex-direction: column;
  }
  .seccion3 .grid-item1 .pseccion3 {
    font-size: 2.2vw;
  }
  .seccion3 .grid-item2 .pseccion3 {
    font-size: 2.2vw;
  }
  .form-soporte {
    margin-left: 10%;
    margin-right: 10%;
  }
}
@media (max-width: 320px) {
  .parrafo-footer {
    font-size: 13px;
  }
  .seccion3 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "grid-item1 grid-item1 grid-item1" "grid-item2 grid-item2 grid-item2";
  }
  .seccion3 .grid-item3 {
    display: none;
  }
  .seccion3 .grid-item4 {
    display: none;
  }
  .seccion3 .grid-item1 .pseccion3 {
    font-size: 3.5vw;
  }
  .seccion3 .grid-item2 .pseccion3 {
    font-size: 3.5vw;
  }
}

/*# sourceMappingURL=style.css.map */
