@import '../utilities/extend';
@import '../utilities/variables';

.seccion3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 250px 300px;
    margin: 40px;
    gap: 10px;
    grid-template-areas:
    "grid-item4 grid-item1 grid-item1 grid-item1 grid-item3"
    "grid-item4 grid-item2 grid-item2 grid-item2 grid-item3";
    .grid-item1{
        @extend .fondo-transparente;
        grid-area: grid-item1;
        .pseccion3{
            padding: 10px;
            text-align: center;
            font-size: 1.5vw;
        }
    }
    .grid-item2{
        background-color: rgba(204, 12, 12, 0.1);
        border-radius: 5px;
        grid-area: grid-item2;
        .pseccion3{
            padding: 10px;
            text-align: center;
            font-size: 1.5vw;
        }
    }
    .grid-item3{
        grid-area: grid-item3;
        display: $display-flex;
    }
    .grid-item4{
        grid-area: grid-item4;
        display: $display-flex;
        justify-content: flex-end;
    }
}
