*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
}

body{
    background-image: url(../assets/fondo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
}

p{
    color: white;
}

h2{
    text-align: center;
    color: white;
}

h3{
    color: rgb(127, 240, 170);
}