@media (max-width: 953px) {
    .menu{
        display:flex;
        margin-right: 30px;
    }
    .nav{
        justify-content:space-between;
        ul{
            display: none;
        }
    }
    .navbar ul{
        display:block;
    }
    .logo{
        margin-left: 10px;
    }
    .seccion1{
        flex-direction: column;
        .noticias{
            max-width: 70vw;
        }
    }

    .seccion3{
        .grid-item1{
            .pseccion3{
                font-size: 2.2vw;
            }
        }
        .grid-item2{
            .pseccion3{
                font-size: 2.2vw;
            }
        }
    }

    .rank{
        tr{
            th{
                padding: 5px;
            }
            td{
                padding: 5px;
            }
        }
    }

    .form-soporte{
     margin-left: 10%;
     margin-right: 10%;
    }

    .parrafo-footer{
        font-size: 13px;
    }

    .boton-ayuda{
        width: 30px;
        right: 5px;
    }
}